<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RestaurentSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3395/Restaurent.asmx" binding="basicHttpBinding"
                bindingConfiguration="RestaurentSoap" contract="RestBUS.RestaurentSoap"
                name="RestaurentSoap" />
        </client>
    </system.serviceModel>
</configuration>